<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlokMart </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Solway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("head", false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand block-text" asp-area="" asp-controller="Home" asp-action="Index">BlokMart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                        </li>
                    </ul>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                        <span class="navbar-text mr-sm-2">
                            @User.Identity.Name
                        </span>
                        <span class="navbar-text my-2 my-sm-0">
                            <a class="text-light btn btn-danger" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                        </span>
                        }
                        else
                        {
                        <span class="navbar-text">
                            <a class="text-light btn btn-success" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                        </span>
                        }
                </div>
            </div>
        </nav>
    </header>
    @if (ViewData["bodyClass"] == null) {
        @Html.Raw("<div class=\"container\">")
    } else {
        @Html.Raw("<div class=\"" + ViewData["bodyClass"] + "\">")
    }
        <main role="main" class="pb-3">
            @if (!Html?.ViewData?.ModelState?.IsValid ?? false)
            {
                <div id="error-modal" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Errors in submission</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
            @RenderBody()
        </main>
    @Html.Raw("</div>")

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2021 - BlockMart - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (!Html?.ViewData?.ModelState?.IsValid ?? false)

    {
        <script>
            $(function () {
                $("#error-modal").modal('show');
            });
        </script>

    }
@{
    /*
<script>
  document.write(
    '<script src="http://' +
      (location.host || '${1:localhost}').split(':')[0] +
      ':35729/livereload.js?snipver=1"></' +
      'script>'
  );
</script>
    */
}
</body>

</html>
