@model server.Models.Database.Hello
@{
    ViewData["Title"] = "Home Page";
    var Hellos = ViewData["Hellos"] as List<server.Models.Database.Hello>;
    var intvalue = ViewData["intValue"] as System.Nullable<System.Numerics.BigInteger>;
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to <span class="block-text">BlockMart</span></h1>
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/main.gif" class="img-responsive">
                </div>
                <div class="carousel-item">
                    <img src="/images/main2.gif" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="/images/main3.gif" class="img-responsive">
                </div>
                <div class="carousel-item">
                    <img src="/images/main4.gif" class="d-block w-100">
                </div>
            </div>
        </div>
    </div>
    <section>
        Who are we?
    </section>
    <section>
        what do we do?
    </section>
    <section>
        why blockchain?
    </section>
    <section>
        what's the cost?
    </section>
    <table class="table">
        <tr>
            <th> Header </th>
            <th> Message </th>
            <th> Id </th>
        </tr>
        @foreach (var hello in Hellos)
        {
            <tr>
                <td> @hello.Header </td>
                <td> @hello.Message </td>
                <td> @hello.Id </td>
            </tr>
        }
    </table>
    <p>
        @intvalue.Value.ToString()
    </p>
    @using (Html.BeginForm())
    {
        @Html.EditorFor(m => m.Header)
        @Html.EditorFor(m => m.Message)
        <input type="submit">
    }
</div>
