@model server.Models.Database.Hello
@{
    ViewData["Title"] = "Home Page";
    var Hellos = ViewData["Hellos"] as List<server.Models.Database.Hello>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table">
        <tr>
            <th> Header </th>
            <th> Message </th>
            <th> Id </th>
        </tr>
        @foreach (var hello in Hellos) {
            <tr>
                <td> @hello.Header </td>
                <td> @hello.Message </td>
                <td> @hello.Id </td>
            </tr>
            
        }
    </table>
    <p>  </p>
    @using (Html.BeginForm()) {
        @Html.EditorFor(m => m.Header)
        @Html.EditorFor(m => m.Message)
        <input type="submit">
    }
</div>
