@model server.Models.Validation.LoginUserForm
@{
    ViewData["Title"] = "Login";
    string returnUrl = (string)ViewData["ReturnUrl"];
}

<div class="centered rounded text-center">
    <section class="row">
        <div class="col">
            <h1>Sign In</h1>
        </div>
    </section>
    <section class="row">
        <div class="col-3"></div>
        <div class="col-6">
            @using (Html.BeginForm(FormMethod.Post, new { @id = "LoginForm"}))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @PlaceHolder = "User Name"})
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @PlaceHolder = "Password"})
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <input type="submit" class="btn btn-primary">
                <button type="button" class="btn btn-success">
                    <a class="text-light" asp-area="" asp-controller="User" asp-action="CreateNewUser" asp-route-ReturnUrl="@returnUrl">Create User</a>
                </button>
            }
        </div>
    </section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}